/*
!/3DModel
!/Mayacharm-embedded
!/NN
!/NN/Licenta
!/NN/Licenta/VNNL
!/Music\ Recognizer
!/NN/Licenta/NNModule
!/OneNotes
!/Research
!/Textures
!Roadmap.md
NN/Licenta/cv
NN/Licenta/clean
NN/Licenta/test
NN/Licenta/newe/Other/*
NN/Licenta/models
NN/Licenta/logs
NN/.idea
NN/.ipynb_checkpoints/
NN/Input Data/
NN/NNModule/fashion_mnist_images/
NN/NNModule/Input\ Data/
NN/NNModule/clean/
NN/NNModule/Models/
NN/NNModule/working_audio_classification.h5
NN/NNModule/fashion_mnist.model
NN/clean
NN/VNNL/VNNL/Debug
NN/VNNL/VNNL/Release
NN/VNNL/VNNL/Libraries
NN/VNNL/VNNL/.vs
NN/VNNL/VNNL/VNNL/External Libraries
NN/VNNL/VNNL/VNNL/Debug
NN/VNNL/VNNL/VNNL/Release
NN/VNNL/VNNL/VNNL/*.vcxproj
NN/VNNL/VNNL/VNNL/*.vcxproj.filters
NN/VNNL/VNNL/VNNL/*.vcxproj.user
NN/NNModule/fashion_mnist.model
Music\ Recognizer/clean/
Music\ Recognizer/Input\ Data/
Music\ Recognizer/Test\ data/
Music\ Recognizer/Models/
